:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.product-image {
  max-height: 100px;
  max-width: 100px;
  width: 100%;
}
.navBar {
  background-color: green;
}
.navBar {
  background-color: green !important; /* Set the background color to green */
}

.navBar .navbar-brand {
  color: white !important; /* Set the brand text color to black */
}

.navBar .nav-link {
  color: white !important; /* Set the link text color to black */
  margin-right: 15px;
}
.navBar .dark_button {
  margin-left: 15px; /* Optional: Add margin for the button */
}

.navBar .nav-link:hover {
  color: grey !important; /* Optional: Change color on hover */
}

.rating span {
  color: green;
}
img.large {
  max-width: 100%;
}
